<div id="update-user-form" title="Update user">\
	<p class="validateTips">All form fields are required.</p>\
	<form>\
        <fieldset>\
            <label for="first-name">First Name</label>\
            <input type="text" name="first-name" id="first-name" class="text ui-widget-content ui-corner-all" />\
            <label for="last-name">Last Name</label>\
            <input type="text" name="last-name" id="last-name" value="" class="text ui-widget-content ui-corner-all" />\
			<label for="email">Email</label>\
            <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />\
        </fieldset>\
	</form>\
</div>